In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import nltk
import re

In [3]:
df=pd.read_csv('train.tsv',sep='\t')

In [5]:
df.head(15)

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
5,6,1,of escapades demonstrating the adage that what...,2
6,7,1,of,2
7,8,1,escapades demonstrating the adage that what is...,2
8,9,1,escapades,2
9,10,1,demonstrating the adage that what is good for ...,2
10,11,1,demonstrating the adage,2
11,12,1,demonstrating,2
12,13,1,the adage,2
13,14,1,the,2
14,15,1,adage,2

In [7]:
df.describe()

            PhraseId     SentenceId      Sentiment
count  156060.000000  156060.000000  156060.000000
mean    78030.500000    4079.732744       2.063578
std     45050.785842    2502.764394       0.893832
min         1.000000       1.000000       0.000000
25%     39015.750000    1861.750000       2.000000
50%     78030.500000    4017.000000       2.000000
75%    117045.250000    6244.000000       3.000000
max    156060.000000    8544.000000       4.000000

In [9]:
review=[]
for i in df['Sentiment']:
    if i==0:
        review.append('negative')
    elif i == 1:
        review.append('neutral')
    elif i == 2:
        review.append('somewhat negative')
    elif i == 3:
        review.append('somewhat positive')
    elif i == 4:
        review.append('positive')
    else:
        review.append('Failed')
df['Review'] = review

In [10]:
df['Review'].value_counts()

somewhat negative    79582
somewhat positive    32927
neutral              27273
positive              9206
negative              7072
Name: Review, dtype: int64

In [30]:
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [31]:
def text_process(reviewphrase):
    review=reviewphrase
    review = re.sub(r'[^a-zA-Z]',' ',str(review))
    review = review.lower()
    review = review.split()
    lemmatizer = WordNetLemmatizer()
    review = [lemmatizer.lemmatize(w) for w in review if not w in set(stopwords.words('english'))]
    return (' '.join(review))

In [ ]:
processed_text= []
for i in range(0, 156060):
    
    processed_text.append(text_process(df['Phrase'][i]))

In [21]:
df['Phrase']=processed_text

0         A series of escapades demonstrating the adage ...
1         A series of escapades demonstrating the adage ...
2                                                  A series
3                                                         A
4                                                    series
5         of escapades demonstrating the adage that what...
6                                                        of
7         escapades demonstrating the adage that what is...
8                                                 escapades
9         demonstrating the adage that what is good for ...
10                                  demonstrating the adage
11                                            demonstrating
12                                                the adage
13                                                      the
14                                                    adage
15                          that what is good for the goose
16                                                     that
17                               what is good for the goose
18                                                     what
19                                    is good for the goose
20                                                       is
21                                       good for the goose
22                                                     good
23                                            for the goose
24                                                      for
25                                                the goose
26                                                    goose
27        is also good for the gander , some of which oc...
28        is also good for the gander , some of which oc...
29                                                  is also
                                ...
156030                          a joke in the United States
156031    The movie 's downfall is to substitute plot fo...
156032                                The movie 's downfall
156033              is to substitute plot for personality .
156034                is to substitute plot for personality
156035                   to substitute plot for personality
156036                      substitute plot for personality
156037                                      substitute plot
156038                                      for personality
156039    The film is darkly atmospheric , with Herrmann...
156040    is darkly atmospheric , with Herrmann quietly ...
156041    is darkly atmospheric , with Herrmann quietly ...
156042                              is darkly atmospheric ,
156043                                is darkly atmospheric
156044    with Herrmann quietly suggesting the sadness a...
156045    Herrmann quietly suggesting the sadness and ob...
156046                                             Herrmann
156047    quietly suggesting the sadness and obsession b...
156048    suggesting the sadness and obsession beneath H...
156049                 suggesting the sadness and obsession
156050                            the sadness and obsession
156051                                sadness and obsession
156052                                          sadness and
156053          beneath Hearst 's forced avuncular chortles
156054                  Hearst 's forced avuncular chortles
156055                                            Hearst 's
156056                            forced avuncular chortles
156057                                   avuncular chortles
156058                                            avuncular
156059                                             chortles
Name: Phrase, Length: 156060, dtype: object

In [ ]:
positive=df[df['Review']=='positive']

In [ ]:
p=positive['Phrase']

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
bow_transform=CountVectorizer(analyzer = "word",   
                             tokenizer = None,    
                             preprocessor = None, 
                             stop_words = None,   
                             max_features = 2000)

In [ ]:
pos_words = vectorizer.fit_transform(pos)
pos_words = pos_words.toarray()
pos= vectorizer.get_feature_names()
dist = np.sum(pos_words, axis=0)

In [ ]:
postive_new= pd.DataFrame(dist)
postive_new.columns=['word_count']
postive_new['word'] = pd.Series(pos, index=postive_new.index)
postive_new1=postive_new[['word','word_count']]

In [ ]:
cv = CountVectorizer(max_features = 1500)
X_train = cv.fit_transform(processed_text).toarray()
y=df.iloc[:,2].values

In [ ]:
from sklearn.cross_validation import train_test_split
from sklearn.naive_bayes import MultinomialNB
X_train, X_test, y_train, y_test = train_test_split(X_train,y,test_size = 0.3,random_state = 100)

MNB = MultinomialNB()
MNB.fit(X_train, y_train)

y_pred = MNB.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_test,y_pred))